{% extends 'item/base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<style>
    img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
}
</style>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center"><strong>最新上架商品</strong></h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in items %}
        <div class="col">
          <div class="card h-100">
            <img src="{{item.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title display: inline;">
                    <div class="contrnt__item">
                        <div class="content__icon">
                            <b>{{item.name}}</b>
                            <i class="fa fa-eye" aria-hidden="true">{{item.hit}}</i>
                        </div>
                    </div>
                </h5>
              <p class="text-gray-500">${{item.price}}</p>
              <p class="text-gray-500">{{item.get_status_display}} </p>
              <p class="card-text">{{item.description | truncatechars:"30"}}<a href="{% url 'detail-url' item.id %}" class="text-sky-400">SEE MORE DETAIL</a></p>
            </div>
            <div class="card-footer">
                {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'add_to_cart' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="inline-block mt-3 px-3 py-2 text-lg font-semibold bg-red-300 text-white rounded-xl hover:bg-red-100">ADD TO CART</button>
                    </form>
                {% else %}
                    <a href="{% url 'url_login' %}" class="tinline-block mt-3 px-3 py-2 text-lg font-semibold bg-red-300 text-white rounded-xl hover:bg-red-100">Log in</a>
                {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
      </div>
</div>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Categories</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for category in categories %}
        <div>
            <a href="#">
                <div class="p-6 bg-white rounded-xl">
                    <h2 class="text-2xl">{{category.name}}</h2>
                    <p class="text-gray-500">共有{{category.items.count}}件商品</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
