{% extends 'accounts/base.html' %}
{% block content %}
<!-- <body>
	<div class='container-fluid'>
		<div class='panel panel-primary'>
			<div class='panel-heading'>
				<h1 align="center ">Sign up</h1>
			</div>
			<div class='panel-body'>
				<form method="POST" action=".">
					{% csrf_token %}

					{{ form.non_field_errors}}
					<div> 
						<label> Username </label>
						{{ form.username }}
					</div>
					<div> 
						<label> Email </label>
						{{ form.email }}
					</div>
					<div> 
						<label> Password </label>
						{{ form.password1 }}
					</div>
					<div> 
						<label> Repeat Password </label>
						{{ form.password2 }}
					</div>
				<button>Submit</button>
				</form>
			</div>
		</div> 

	</div>
</body> -->
<div class='body_content'>
	<div class="wrapper">
	        <div class="form-box login">
	            <span class="icon-close"><ion-icon name="close"></ion-icon></span>
	            <h2> Register </h2>
	            <form action="." method="post">
	            	{% csrf_token %}
	                <div class="input-box">
	                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
	                    {{ form.username }}
	                    <label for="name">Username</label>
	                </div>
	                <div class="input-box">	                
	                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
	                    {{ form.email }}
	                    <label for="name">Email</label>
	                </div>
	                <div class="input-box">
	                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
	                    {{ form.password1 }}
	                    <label for="password">Password</label>
	                </div>
	                <div class="input-box">
	                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
	                    {{ form.password2 }}
	                    <label for="password">Repeat Password</label>
	                </div>

	                {% if form.errors or form.non_field_errors %}
	                	
	                		{% for field in form %}
	                			{{ field.errors }}
	                		{% endfor %}
	                		{{ form.non_field_errors }}
	                	

	                {% endif%}

	                <button type="submit" class="submit_btn">Register</button>


	                
	            </form>
	        </div>
	</div>
</div>


{% endblock %}