 {% extends 'item/base.html' %}

 {% block title %}{{item.name}}{% endblock %}
 {% block content %}
 <div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{item.image.url}}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{item.name}}</h1>
        <p class="text-gray-500"><strong>種類:</strong>{{item.category}}</p> 
        <p class="text-gray-500"><strong>價格:</strong>${{item.price}}</p> 
        <p class="text-gray-500"><strong>商品狀況:</strong>{{item.get_status_display}}</p> 
        {% if item.description %}
        <p class="text-gray-700">
            <strong class="text-gray-500">Description:</strong><br>
            {{item.description}}
        </p>
        <br>
        <p class="text-gray-500"><strong>Seller:</strong>{{item.created_by.username}}</p>
        <p class="text-gray-500"><strong>上架時間:</strong>{{item.created_at}}</p>
        <p class="text-gray-500"><strong>瀏覽次數：{{item.hit}}</p>
        {% endif %}
        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>這是您的商品</p>
                <a href="{% url 'edit-url' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'del-url' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">DELETE</a>
            </div>
        {% else %}
            <a href="{% url 'new-message' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-purple-500 text-white rounded-xl hover:bg-purple-300">Talk to Seller</a>
            <form method="POST" action="{% url 'add_to_cart' item.id %}">
                {% csrf_token %}
                <button type="submit" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-300 text-white rounded-xl hover:bg-red-100">ADD TO CART</button>
            </form>
        {% endif %}
    </div>

 </div>

 <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related items</h2>
        <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
        <div>
            <a href="{% url 'detail-url' item.id %}">
                <div align="center" class="p-6 bg-white rounded-t-xl"> 
                    <img src="{{item.image.url}}">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{item.name}}</h2>
                    <p class="text-gray-500">${{item.price}}</p>
                    <p class="card-text">{{item.description | truncatechars:"30"}}</p><br>
                    <form method="POST" action="{% url 'add_to_cart' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-300 text-white rounded-xl hover:bg-red-100">ADD TO CART</button>
                    </form>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
 {% endblock %}